In [1]:
url_usagers2017 = "https://static.data.gouv.fr/resources/base-de-donnees-accidents-corporels-de-la-circulation/20180927-111153/usagers-2017.csv"
url_lieux2017 = "https://static.data.gouv.fr/resources/base-de-donnees-accidents-corporels-de-la-circulation/20180927-111131/lieux-2017.csv"
url_caracteristiques2017 = "https://static.data.gouv.fr/resources/base-de-donnees-accidents-corporels-de-la-circulation/20180927-111012/caracteristiques-2017.csv"

In [4]:
import pandas as pd

In [7]:
!curl https://static.data.gouv.fr/resources/base-de-donnees-accidents-corporels-de-la-circulation/20180927-111153/usagers-2017.csv -o "usagers2017.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 5549k  100 5549k    0     0  6152k      0 --:--:-- --:--:-- --:--:-1 2954k- 6145k

In [9]:
!curl https://static.data.gouv.fr/resources/base-de-donnees-accidents-corporels-de-la-circulation/20180927-111131/lieux-2017.csv -o "lieux2017.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 3069k  100 3069k    0     0  8432k      0 --:--:-- --:--:-- --:--:-- 8432k

In [18]:
!curl https://static.data.gouv.fr/resources/base-de-donnees-accidents-corporels-de-la-circulation/20180927-111012/caracteristiques-2017.csv -o "caracteristiques2017.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 4737k  100 4737k    0     0  9308k      0 --:--:-- --:--:-- --:--:-- 9308k

In [12]:
usagers2017 = pd.read_csv("./usagers2017.csv", encoding='utf8', index_col=0)

In [15]:
lieux2017 = pd.read_csv("./lieux2017.csv", encoding='utf8', index_col=0)

In [22]:
caracteristiques2017 = pd.read_csv("./caracteristiques2017.csv", encoding='latin-1', index_col=0)

In [24]:
usagers2017.head(10)

,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,num_veh
Num_Acc,,,,,,,,,,,
201700000001,1.0,1,3,1,9.0,13.0,0.0,0.0,0.0,1968.0,B01
201700000001,2.0,2,3,2,9.0,11.0,0.0,0.0,0.0,1973.0,B01
201700000001,1.0,1,3,1,1.0,13.0,0.0,0.0,0.0,1967.0,A01
201700000002,1.0,1,1,1,0.0,11.0,0.0,0.0,0.0,1953.0,A01
201700000002,1.0,1,3,1,5.0,22.0,0.0,0.0,0.0,1960.0,B01
201700000003,1.0,1,1,1,1.0,11.0,0.0,0.0,0.0,1973.0,C01
201700000003,1.0,1,3,1,1.0,11.0,0.0,0.0,0.0,1938.0,A01
201700000003,1.0,1,1,1,9.0,11.0,0.0,0.0,0.0,1992.0,B01
201700000003,7.0,2,1,2,1.0,11.0,0.0,0.0,0.0,2015.0,B01
201700000004,1.0,1,3,2,1.0,11.0,0.0,0.0,0.0,1960.0,A01

In [28]:
caracteristiques2017.tail(10)

,an,mois,jour,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep
Num_Acc,,,,,,,,,,,,,,,
201700060692,17,11,7,1904,3,2,1,1.0,6.0,611,tsoundzou-Mangadzia Tso,Y,1276433.0,4522543.0,976
201700060693,17,11,10,1900,3,2,1,1.0,6.0,611,"1, mgombani-Baobab ( Bd",Y,1278371.0,4523251.0,976
201700060694,17,11,10,1907,3,1,9,1.0,1.0,611,"1, tsoundzou-Abdallah So",Y,1280604.0,4520865.0,976
201700060695,17,11,12,820,1,2,1,1.0,1.0,611,"1, kaweni-Caserne ( rue",Y,1277549.0,4522361.0,976
201700060696,17,11,14,1203,1,2,3,1.0,1.0,611,"1, tsoundzou-Maternelle",Y,1280702.0,4520721.0,976
201700060697,17,11,19,1030,1,2,1,1.0,6.0,611,"1, tsoundzou-Baraka (rue",Y,1280703.0,4520703.0,976
201700060698,17,11,25,624,1,1,6,1.0,7.0,611,"1, mamoudzou centre-Adri",Y,1278296.0,4523434.0,976
201700060699,17,11,26,1745,2,2,1,1.0,3.0,611,"1, tsoundzou-Abdallah So",Y,1280711.0,4520617.0,976
201700060700,17,11,28,1405,1,2,1,1.0,3.0,611,"1, kaweni-Kaweni nord (",Y,1276210.0,4522609.0,976
201700060701,17,11,30,1939,3,2,1,1.0,6.0,611,tsoundzou-Stara (rue),Y,1281342.0,4520169.0,976

In [32]:
len(caracteristiques2017.index) # Nombre de lignes

60701

In [34]:
len(caracteristiques2017.columns) # Nombre de colonnes

15

In [36]:
usagers2017.dtypes # Types des colonnes d'usagers2017

place      float64
catu         int64
grav         int64
sexe         int64
trajet     float64
secu       float64
locp       float64
actp       float64
etatp      float64
an_nais    float64
num_veh     object
dtype: object

In [38]:
caracteristiques2017.dtypes # Types des colonnes de caracteristiques2017

an        int64
mois      int64
jour      int64
hrmn      int64
lum       int64
agg       int64
int       int64
atm     float64
col     float64
com       int64
adr      object
gps      object
lat     float64
long    float64
dep       int64
dtype: object

In [56]:
usagers2017.index.has_duplicates # Il y a des Num_Acc dupliqués dans usagers2017

True

In [57]:
caracteristiques2017.index.has_duplicates # Il n'y a pas de Num_Acc dupliqué dans caracteristiques2017

False